.postpage-table{
    display: table;
    width: 100%;

}
.postpage-cell{
    display: table-cell;
    width: 60%;
    text-align: center;
    padding: 15px;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid white;
    background-color: grey;
}
.postpage{
    width: 40%;
    user-select: none;
    cursor: pointer;
}
.postpage:hover{
    background-color: darkslategray;
    color: whitesmoke;
}